.horizontalLine {
    width: 100%;
    height: 1px;
    background-color: #e1e1e2;
}
.buttonContainer {
    width: 100%;
    margin-bottom: 10px;
}
.button {
    border: 0;
    background-color: transparent;
    width: 100%;
    height: 42px;
    box-shadow: none;
}
.button:hover {
    /* border: 0; */
    color: #131924 !important;
    background-color: #eceded !important;
}

.userInfo {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.userImg {
    width: 65px;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    /* overflow: hidden; */
    cursor: pointer;
    position: relative;
}

.userName {
    margin-left: 10px;
    font-size: 16px;
    color: #131924;
    flex-grow: 0;
}

.userImg:hover {
    background-color: #eceded !important;
}

.userImg:active {
    background-color: #fff !important;
}

.userInfoSetting {
    position: absolute;
    left: 250px;
    bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    color: #131924;
    width: 100px;
    height: 200px;
    border-radius: 10px;
    box-shadow: #eff0f0 0px 0px 10px;
    padding: 10px 10px 0 10px;
    transition: all 0.2s ease-in-out;
}

.sessionContainer {
    /* overflow: hidden; */
    transition: max-height 0.4s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.4s;
    max-height: 0;
    opacity: 0;
    overflow-y: scroll;
}
.sessionContainerOpen {
    max-height: 500px; /* 根据实际内容高度调整 */
    opacity: 1;
}
.sessionContainerClose {
    max-height: 0;
    opacity: 0;
}
.sessionItem {
    background-color: transparent;
    margin: 10px 0;
    padding: 10px 16px;
    border-bottom: 1px solid #f0f0f0;
    border-radius: 10px;
    cursor: pointer;
    transition: background 0.2s;
    color: #111925;
}
.sessionItem:hover {
    background-color: #eceded !important;
}
