.inputArea {
    margin-top: auto;

    width: 60%;
    height: 160px;
    background-color: #ffffff;
    /* background-color: red; */
    padding: 20px;
}

/* .customSearch {
  height: 100%;
}

.customSearch :global(.ant-input-wrapper) {
  height: 100%;
}

.customSearch :global(.ant-input) {
  height: 100%;
  font-size: 16px;
}

.customSearch :global(.ant-input-search-button) {
  height: 100% !important;
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
} */

.inputWrapper {
    display: flex;
    flex-direction: column;
    /* height: 100%; */
    width: 100%;
    background-color: #f8f8f8;
    padding-top: 10px;
    padding-bottom: 10px;
}

.textArea {
    background-color: transparent !important;
    outline: none !important;
}

.textArea:focus {
    box-shadow: none !important;
    border-color: transparent !important;
}

/* 确保在悬停状态下也没有边框 */
.textArea:hover {
    border-color: transparent !important;
}

.sendButton {
    position: absolute;
    /* right: 10px; */
    /* bottom: 10px; */
    bottom: 0;
    right: 0;
    width: 40px;
    height: 40px;
    padding: 0;
    border-radius: 50%;
}

.sendButton:global(.ant-btn-primary) {
    background-color: #1677ff;
}

.sendButton:global(.ant-btn-primary:hover) {
    background-color: #4096ff;
}
